body {
    background-color: aliceblue;
    margin: 0;
    display:flex;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}
h1 {
    margin: 0;
    margin-bottom: .6rem;

}
.input {
    border-radius: .2em;
    padding: .25rem;
    width: 7em;
}